@import '@fontsource-variable/inter/wght.css';
@import '@fontsource-variable/playfair-display/wght.css';
@import 'tailwindcss';

@theme inline {
  --color-canvas: var(--color-gray-200);
  --color-surface: var(--color-gray-100);
  --color-foreground: var(--color-gray-900);
  --color-foreground-muted: var(--color-gray-600);
  --color-primary: var(--color-emerald-500);
  --color-primary-muted: var(--color-emerald-600);
  --color-primary-foreground: var(--color-gray-100);
  --color-error: var(--color-red-500);
  --color-disabled: var(--color-gray-600);
  --color-foreground-disabled: var(--color-gray-500);
  --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif;
  --font-header: 'Playfair Display Variable', ui-sans-serif, sans-serif;
}

@layer base {
  body {
    @apply bg-canvas text-foreground font-sans;
  }

  a {
    @apply hover:cursor-pointer;
  }

  button {
    @apply hover:cursor-pointer disabled:cursor-not-allowed disabled:bg-disabled disabled:text-foreground-disabled;
  }

  input {
    @apply bg-gray-50 border-2 border-gray-400 rounded-sm shadow px-0.5 focus:outline-none focus:border-primary;
  }
}
